@font-face{
    font-family: arenq;
    src: url(../fonts/Arenq.otf)
}
@font-face{
    font-family: coet light;
    src: url(../fonts/coet\ light.ttf)
}
@font-face{
    font-family: coet bold;
    src: url(../fonts/coet\ bold.ttf)
}


*{
    margin: 0;
    padding: 0;
}

@media (max-width: 800px) {

        /* HEADER */

    body{
        background-image: linear-gradient( to top,#410a0adc,#323177);
        background-repeat: no-repeat;
        height: 100vh;
    }
    header .flex-j-around{
        display: flex;
        align-items: center;    
        justify-content: space-around;
        /* background-color:#ffffff; */
        width: 100%;
        height: 80px;;
        border-bottom: rgba(0, 0, 0, 0.404) solid 0.5px ;
    }
    header .flex-j-around .logo-title{
        /* display: flex; */
        align-items: center;
    }
    header .flex-j-around .logo-title img{
        height: 150px;
        margin: 15px 0px 0px -50px;
    }   
    header .flex-j-around a img{
        height: 30px;
        display: flex;
    }

        /* MAIN */

    main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main h1{
        margin: 50px 0px 0px 0px;
        font-family: arenq;
        color: #000000;
    }
    main img{
        height: 100%;
        width: 100%;
    }

}