*{
    margin: 0;
    padding: 0;
}

@media (max-width: 800px) {

        /* HEADER */

    body{
        background-image: url("../imagens/not.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 0;
        background-position-y: center;
    }
    header .flex-j-around{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color:#424242;
        width: 100%;
        height: 80px;;
    }
    header .flex-j-around .logo-title{
        display: flex;
        align-items: center;
    }
    header .flex-j-around .logo-title a img{
        height: 45px;
        margin-left: 15px;
    }
    header .flex-j-around .logo-title h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #666666;
        margin-left: 15px;
    }   
    header .flex-j-around a img{
        height: 30px;
        display: flex;
    }

        /* MAIN */

    main{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    main h1{
        margin: 50px 50px 0px 0px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #6d6d6d;
    }
    main img{
        height: 100%;
        width: 100%;
    }

}